<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container">

        <h1>Fake Airbnb</h1>

        <form method="GET">
            <div>
                <input type="text" name="country" class="form-control" placeholder="Enter country to search by"/>
                <input type="text" name="min_beds" class="form-control" placeholder="Minimal number of beds"/>
            </div>
            <input type="submit" value="Search" class="btn btn-primary mt-3"/>
        </form>

        <div>
            {% if page != 0 %}
                <a href="?page={{page-1}}" class="btn btn-primary">Previous Page</a>
            {% endif %}
            
                <a href="?page={{page+1}}" class="btn btn-primary">Next Page</a>
            
        </div>


        <div style="display:flex;flex-wrap:wrap">
        {%for listing in listings %}
        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top" src="{{listing.images.picture_url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{listing.name}}</h5>
                <h6>Number of beds: {{listing.beds}}</h6>
                <h6>Country: {{listing.address.country}}</h6>
                <p class="card-text">{{listing.summary}}</p>    
            </div>
        </div>
        {%endfor%}
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>